.main-div {
  width: 55%;
  height: 830px;
  border: 1px solid gray;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  top: 60px;
  /* padding-bottom: 60px; */
}

h4 {
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.main-div p {
  color: black;
  margin-bottom: 5px;
  margin-left: 4px;
}

#photo {
  width: 100px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 35%;
  /* border-radius: 50%; */
}
.image img {
  width: 100px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 35%;
  border-radius: 50%;
}
table {
  width: 70%;
  border: 2px solid black;
  margin-top: 20px;
  border-collapse: collapse;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 120px;
}

#table2 {
  height: 100px;
  width: 80%;
}
/* Style for table cells */
td {
  padding: 8px;
  border: 2px solid black;
  text-align: center;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}
a:hover {
  color: blue;
}

.main-div p,
label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}
input {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
}
.order {
  padding: 10px 30px;
  background-color: blue;
  color: white;
  margin-left: 40%;
  border-radius: 15px;
  font-size: x-large;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}

.order:hover {
  background-color: purple;
  color: white;
}

/* For successful order */

.message-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4CAF50; /* Green background color */
  color: white;
  text-align: center;
  padding: 1px 0;
  z-index: 1000; /* Ensure the message appears above other content */
}

.success-message {
  font-weight: bold;
}
