body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.login-container {

    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(223, 214, 214);
}

.login-details-container {
    width: 400px;
    height:400px;
    margin: 0 auto;
    background-color: rgba(231, 197, 197, 0.772);
    margin-top: 70px;
    border-radius: 10px;
    ;
}
.login-details-container h2{
    text-align: center;
    margin-bottom: 30px;
    color:purple;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-field{
    
    border-radius:20px;  
    margin-left: 40px;
    margin-bottom: 15px;

}
#new-password{
    padding: 8px;
    width: 300px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#confirm-password{
    padding: 8px;
    width: 300px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button{
   margin-top: 25px;
   margin-bottom: 20px;
}
.submit{
    text-decoration: none;
    background-color:rgb(204, 0, 255);
    padding: 10px 132px;
    border-radius: 10px;
    color: white;
    margin-left: 40px;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
   
  
}
.submit:hover{
      background-color: rgb(234, 29, 77);
}

